
{% extends 'base.html' %}

{% block head %} 
<title>Edit POST</title>
{% endblock %}

{% block body %}
<h1>Your Posts</h1>

    <hr>
    <h2>Edit Blog Post:</h2>

    <br>
    <form action='/posts/edit/{{post.id}}' method='POST'>


       <h4>Title: </h4> 
        <input type='text' name='title' value = {{post.title}} id='title' class = "form-control" >

        <br>

        <h4>Author: </h4>
        
        <input type='text' name='author' value = {{post.author}} id='author' class = "form-control" >

        <br>



        <h4>Post:</h4>
        <textarea  name="content" class="form-control" id="content" rows="3">{{post.content}}</textarea>

        
        <br>
        <input class="btn btn-dark" type='submit' value='Save'>
    </form>
    <hr>
    
{% endblock %}
