<!--inherting the template from base.html-->
<!--used for generating dynamic webs-->


{% extends 'base.html' %}

{% block head %} 
<title>POST</title>
{% endblock %}




{% block body %}
<h1>All Posts</h1>

    <hr>
    <h2>Create New Blog Post:</h2>
    <form action='/posts' method='POST'>
        Title: 

        <input type='text' name='title' id='title' class = "form-control" aria-label="Enter Title" placeholder="Enter Title">
        <br>

        Author: 
        
        <input type='text' name='author' id='author' class="form-control" aria-label="Enter Author Name" placeholder="Enter Uthor name" >
        <br>

        Post: 
        <textarea placeholder="Enter the Post" name="content" class="form-control" id="content" rows="3"></textarea>

        
        <br>


        <input class="btn btn-dark" type='submit' value='Post'>
    </form>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>

        {% if post.author %}
        
        <small> Written By: {{ post.author }} on {{post.date_posted}}</small>
        
        <br>

        {% else %}
            <small>Written By: Unknown</small>
        {% endif %}
        <br>
        
        <p style="white-space: pre-wrap;"> READ: {{post.content}}</p>
        <a class= "btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
        <a class= "btn btn-info" href="/posts/edit/{{post.id}}">Edit</a>

        <br>
        <br>
    {% endfor%}

{% endblock %}